body {
    font-family: sans-serif;
    margin: 0;
}

fieldset {
    border: 1px solid #999;
    margin-bottom: 1em;
}

table {
    margin: auto;
    text-align: center;
    max-width: 100%;
}

table td, table th {
    padding: 0.5em;
}

h2 {
    background-color: #333;
    padding: 0.5em;
    text-align: right;
    color: white;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    display: inline-block;
    padding-left: 3em;
    border: 0.3em solid green;
    border-left: none;
}

input[type="checkbox"] {
    margin-left: 2em;
}

.center {
    text-align: center;
}

.label-block {
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    width: 200px;
}

input[type=submit] {
    background-color: green;
    color: white;
    border-radius: 10px;
}

#title, #title a:visited, #install h1 {
    background-color: #333;
    border-bottom: 0.3em solid green;
    color: white;
    padding: 0.5em;
    margin: 0;
    text-align: center;
}

#title a {
    text-decoration: none;
}

#menu ul {
    text-align: center;
}

#menu li {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

#notice {
    text-align: center;
    font-size: 1.5em;
    background-color: green;
    padding: 0.1em;
}

#connexion_form {
    margin: auto;
    width: 67%;
    text-align: center
}

#edit_password_form, #edit_user_form, #invoice_form {
    width: 50%;
    margin-left: 15%;
}

#edit_user_admin_rights {
    text-align: center;
}

#textarea_notice {
    width: 50%;
}

textarea#what {
    width: 75%;
}

#install {
    margin: 0;
}

#install form, #settings_form {
    width: 67%;
    margin: auto;
}

.error {
    font-size: 1.5em;
    color: red;
    font-weight: bold;
    text-align: center;
}
