html {
    height: 100%;
}

body {
    position: relative;
    padding-bottom: 2em;
    min-height: calc(100% - 2em);
    font-family: sans-serif;
    margin: 0;
}

fieldset {
    border: 1px solid #999;
    margin-bottom: 1em;
}

table {
    margin: auto;
    text-align: center;
    max-width: 100%;
    border-collapse: collapse;
}

table td, table th {
    padding: 0.5em;
    border: 1px solid black;
}

table th {
    background-color: #DDD;
}

h2 {
    background-color: #333;
    padding: 0.5em;
    text-align: right;
    color: white;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    display: inline-block;
    padding-left: 3em;
    border: 0.3em solid green;
    border-left: none;
}

input[type="checkbox"] {
    margin-left: 2em;
}

.center {
    text-align: center;
}

.label-block {
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    width: 200px;
}

input[type=submit] {
    background-color: green;
    color: white;
    border-radius: 10px;
}

#title, #title a:visited, #install h1 {
    background-color: #333;
    border-bottom: 0.3em solid green;
    color: white;
    padding: 0.5em;
    margin: 0;
    text-align: center;
}

#title a {
    text-decoration: none;
}

#menu ul {
    text-align: center;
}

#menu li {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

#notice {
    text-align: center;
    font-size: 1.5em;
    background-color: green;
    padding: 0.1em;
}

#connexion_form {
    margin: auto;
    width: 67%;
    text-align: center
}

#edit_password_form, #edit_user_form, #invoice_form, #notice_form {
    width: 67%;
    margin: auto;
}

#edit_password_form p, #edit_user_form p, #notice_form p {
    text-align: center;
}

#edit_user_admin_rights {
    text-align: center;
}

#textarea_notice {
    width: 75%;
}

textarea#what {
    width: 75%;
}

#list_expenses tr:hover {
    background-color: #00bd00;
}

#balance_table tr:not(:first-child):hover * {
    background-color: #00bd00;
}

.highlight_td {
    background-color: #00bd00;
}

#user_connected {
    text-align: right;
    margin-right: 1em;
    position: absolute;
    bottom: 0;
    height: 1em;
    font-size: 0.75em;
    right: 0;
    font-style: italic;
}

#install {
    margin: 0;
}

#install form, #settings_form {
    width: 67%;
    margin: auto;
}

.error {
    font-size: 1.5em;
    color: red;
    font-weight: bold;
    text-align: center;
}
